<template>
  <template v-for="product in products" v-if="isProducts">
    <ProductShow :item="product" isCart></ProductShow>
  </template>
  <div v-else>Ще нічого немає</div>
</template>

<script>
import ProductShow from './ProductShow.vue';
    export default {
      name:"Cart",
      components:{
        ProductShow
      },
      data() {
        return {
          products: [],
          isCart:true,
          isProducts:false,
        };
      },

      mounted(){
          this.products = this.$store.getters.getCart
          console.log(this.products)
          this.isProducts = this.products.length===0 ? false : true;
      },
      methods:{

      }
    }

</script>