<template>
    <div class="products">
        <form class="searchbar">
            <input placeholder="Пошук" v-model="search">
            <input type="submit"  class="btn">
        </form>
        <router-link v-bind:to="'/cart'">
            Кошик
        </router-link>
        <div class="product" v-for="(item) in filteredItems" v-bind:key="item.id">
        <ProductShow :item="item" :isCart="isCart"></ProductShow>
        </div>
    </div>
</template>
<script>
    import products from '../data/products.js'
    import ProductShow from './ProductShow.vue';
    export default {
        data: function () {
            return {
                items: [],
                search: '',
                searchResult: [],
                isCart:false,
            };
        },
        components:{
            ProductShow
        },
        mounted: function(){
            this.items = products;
        },
        computed: {
            filteredItems: function() {
                console.log(this);
                if (!this.search) {
                    return this.items;
                }
                return this.items.filter(element => {
                    return element.item.toUpperCase().includes(this.search.toUpperCase());
                });
            },
        },

    }
</script>
