<template>
    <div class="product-image">
        <img v-bind:src="item.src">
    </div>
    <div>
        <h4 class="product-title">
            <router-link v-bind:to="'/product/' + item.id">
                {{ item.item }}
            </router-link>
        </h4>
        <label>{{item.price}}</label>

        <button  v-if="!isCart" class="btn" @click="addToCart(item)">Add to cart</button>
    </div>
</template>

<script>
import { defineComponent } from 'vue';

export default defineComponent({
  name:"ProductShow",
   props: {
    item: {
      type: Object,
      require: true
    },
    isCart:{
      type:Boolean,
      require:true
    }
  },
  methods:{
    addToCart(item){
      this.$store.commit('setCart', item);
      console.log(this.$store.getters.getCart)
    }
  }
})

</script>